<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webstudy4-LifeCycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletConfigTestServlet</servlet-name>
    <servlet-class>step3.ServletConfigTestServlet</servlet-class>
    <init-param>
      <param-name>frameworkConfig</param-name>
      <param-value>/WEB-INF/springmvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigTestServlet</servlet-name>
    <url-pattern>/ServletConfigTestServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>adminId</param-name>
    <param-value>javaking</param-value>
  </context-param>
</web-app>